.list {
    overflow: scroll;
    border: solid;
    width: 50%;
    height: 100%;
}

.list-entry {
    padding: 5px;
    border-bottom: solid thin;
    cursor: default;
}

.list-entry:last-child {
    border-bottom: inherit;
}

.list-entry:hover {
    background-color: LightGray;
}
