body {
    font-family: 'Noto Sans', serif;
    background-color: lightgrey;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.browser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid;
    height: 100%;
}

.list {
    overflow: scroll;
}

.list:last-child{
    border-left: solid;
}

.list-entry {
    padding: 15px;
    border-bottom: solid thin;
    cursor: default;
    background-color: white;
}

.list-entry:hover {
    background-color: LightGray;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button.login {
    color: white;
    background-color: #1DB954;
    font-size: medium;
    cursor: pointer;
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.login img {
    margin-right: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 12px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    max-width: 375px;
    height: 96%;
    max-height: 700px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 40px;
}
