.browser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid;
    height: 100%;
}

.list {
    overflow: scroll;
}

.list:last-child{
    border-left: solid;
}

.list-entry {
    padding: 15px;
    border-bottom: solid thin;
    cursor: default;
}

.list-entry:hover {
    background-color: LightGray;
}

div.list-entry {
    font-family: sans-serif;
}
